/* Generali */
body {
  font-family: 'Roboto', sans-serif;
}

ul{
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

li{
  list-style-type: none;
  width: 80px;
  height: 80px;
  border: 1px solid black;
  margin-right: 1px;
  margin-bottom: 1px;
}

h4{
  font-weight: 600;
}

button{
  margin-bottom: 10px;
}

.month {
  display: none;
}

.month.active {
  display: block;
}

.prev, .next {
  cursor: pointer;
}

.rosso {
  color: red;
}
/* fine generali */
